import(data.table)
importFrom(DBI, dbSendQuery, dbGetQuery, dbWriteTable, dbReadTable, dbExistsTable, dbListTables, dbListFields, dbConnect)
importFrom(RPostgreSQL, PostgreSQL)
importFrom(logR, logR)

# pg
export(pgConnect)
export(pgSendQuery)
export(pgGetQuery)
export(pgWriteTable)
export(pgReadTable)
export(pgExistsTable)
export(pgExistsSchema)
export(pgListTables)
export(pgTruncateTable)
export(pgListFields)
export(pgListTableColumns)
export(pgDropSchema)
export(pgDropTable)
export(pgRemoveTable)
export(pgSendUpsert)
export(pgUpsertTable)

# tools
export(create_run_table)
export(new_run_id)
export(get_run_id)
export(ppc)
