import(data.table)
importFrom(DBI, dbSendQuery, dbGetQuery, dbWriteTable, dbReadTable, dbExistsTable, dbListTables, dbListFields, dbConnect, dbDisconnect)
importFrom(RPostgreSQL, PostgreSQL)
importFrom(logR, logR)

# pg tech
export(pgConnect)
export(pgGetVersion)
export(pgDisconnect)

# pg basic
export(pgSendQuery)
export(pgGetQuery)
export(pgWriteTable)
export(pgReadTable)

# pg advanced
export(pgSendUpsert)
export(pgUpsertTable)
export(pgTruncateTable)

# pg table
export(pgExistsTable)
export(pgDropTable)
export(pgRemoveTable)

# pg schema
export(pgExistsSchema)
export(pgCreateSchema)
export(pgDropSchema)

# pg list
export(pgListTables)
export(pgListFields)
export(pgListTableColumns)

# tools
export(create_run_table)
export(new_run_id)
export(get_run_id)
export(ppc)
